*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:rgba(0, 0, 0, 0.8) url(Source/image.jpg) no-repeat;
    background-blend-mode: darken;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    height: 90px;
    padding: 0  10%;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0 20px;
}
.logo span{
    position: absolute;
    padding-left: -10px;
    color: #ffc451;
}
.list a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    justify-content: space-around;
    text-transform: capitalize;
    margin: 0 20px;
    transition: .5s;
}
.list a:hover,
.list .active{
    color: #ffc451;
}
.btn{
    color: #fff;
    padding: 8px 30px;
    background: transparent;
    border: 2px solid #ffc451;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-color: #ffc451;
    color: #000;
}
.home .text{
    color: #fff;
    position: absolute;
    top: 25%;
    left: 27%;
}
.home .text{
    max-width: 700px;
}
.home .text h1{
    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: 7px;
    font-weight: bold;
    margin-bottom: 15px;
}
.home .text h1:nth-child(1){
    text-align: center;
}
.home .text span{
    position:absolute;
    padding-right: -10px;
    color: #ffc451
}
.home .text h4{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}
.icons{
    position: absolute;
    bottom: 10%;
    left: 11.25%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.icons p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.box{
    margin-right: 10px;
    font-size: 30px;
    background: transparent;
    border: 1px solid silver;
    width: 200px;
    margin-right: 20px;
    padding:5px 0 10px ;
    transition: .4s;
    cursor: pointer;
}
.box:hover{
    border-color: #ffc451;
    box-shadow: 1px 1px 2px #ffc451;
}
.ix{
    color: #ffc451;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px ;
}
